<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Login Page</title>

    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>


<nav id='nav' class="navbar navbar-expand-lg navbar-light" th:replace="fragment/navbar :: navbar">
    <p>sample</p>
</nav>


<div class="container">
    <div class="jumbotron">
        <h1 id="reg-h1">Login In sadasdasda</h1>
        <form action="../../templates/html/login.html" method="get">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                       placeholder="Enter email" name="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                </small>
            </div>
            <div class="form-group">
                <label for="inputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword1" placeholder="Password"
                       required>
            </div>
            <div class="form-actions col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-primary" value="Sign In"/>
                <a class="btn btn-primary" href="#">Reset Password</a>
            </div>
        </form>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        th:href="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
        th:href="@{/js/bootstrap.min.js}"></script>
</body>
</html>