<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="/fragment/layout :: layout(title='SignUp Page')">

<body>
<div class="container" th:fragment="content1">
    <div id="jumboSign" class="jumbotron">
        <h1 id="reg-h1">Registration Page </h1>
        <form action="/saveUser" method="POST" th:action="@{/saveUser}" th:object="${user}">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <!--/*@thymesVar id="email" type="java.lang.String"*/-->
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                       placeholder="Enter email" required="required" title="email cannot be null" name="email" th:field="*{email}"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                </small>
            </div>
            <div class="form-group">
                <label for="reg-pwd">Password</label>
                <input type="password" class="form-control" id="reg-pwd" placeholder="Password" required="required"
                       name="password" th:field="*{password}"/>
            </div>

            <div class="form-group">
                <label for="conf-pwd">Confirm Password</label>
                <input type="password" class="form-control" id="conf-pwd" placeholder="Confirm Password"
                       name="confirmPassword" required="required" th:field="*{confirmPassword}"/>
                <div id="conPass" th:errors="*{confirmPassword}" class="alert alert-primary" role="alert">Error Message</div>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

</div>
</body>
</html>